@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8e9dd;
  font-family: dm sans;
}
footer {
  position: absolute;
  bottom: 1em;
  text-align: center;
}